@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateY(32px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  to {
      opacity: 0;
      transform: translateY(-24px);
  }
}

@keyframes slideInInverse {
  from {
      opacity: 0;
      transform: translateY(-8px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes filterDropdownslideIn {
  from {
    opacity: 0;
    transform: translateY(32px);
    height: 0;
  }
  to {
      opacity: 1;
      transform: translateY(0);
      height: auto;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transition: opacity 0.3s ease;

  .ring {
    border: 8px solid;
    border-color: var(--primary-color) transparent var(--primary-color) transparent;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
  }
}

.loading-spinner.visible {
  opacity: 1;
}

.h-scroll {
  animation: scroll-text 5s ease-in-out infinite alternate;
}

@keyframes scroll-text {
  0%   { transform: translateX(0%); }
  10%   { transform: translateX(0%); }
  90% { transform: translateX(var(--scroll-distance)); }
  100% { transform: translateX(var(--scroll-distance)); }
}

.v-scroll {
  animation: v-scroll var(--scroll-duration) ease-in-out infinite alternate;
}

@keyframes v-scroll {
  0%   { transform: translateY(0%); }
  10%   { transform: translateY(0%); }
  90% { transform: translateY(var(--scroll-distance)); }
  100% { transform: translateY(var(--scroll-distance)); }
}