/*#region control-bar*/

.control-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: var(--primary-color);
  font-size: var(--font-size-base);
  border-radius: var(--border-radius);
  background-color: var(--background-secondary-color);
  animation: slideIn 0.5s ease;

  icon, p{
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    margin: 0;
    height: 100%;
    padding: 4px 8px;
  }

  icon {
    font-size: var(--font-size-xxlarge);
  }

  .button {
    flex-grow: 1;
    align-self: stretch;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    margin: 0;
    padding: 4px 8px;
    border: 4px solid var(--background-secondary-color);
    transition: border-color 0.3s ease;

    &.left {
      justify-content: flex-start;
      text-align: start;
      border-right: none;
      border-radius: var(--border-radius);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.right {
      justify-content: end;
      text-align: end;
      border-left: none;
      border-radius: var(--border-radius);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.middle {
      justify-content: center;
      text-align: center;
      border-radius: 0;
      border-left: none;
      border-right: none;
    }

    &.sub-button {
      flex-grow: 0;
      border-left: none;
      border-right: none;
      border-radius: 0;
      font-size: var(--font-size-small);

      icon{
        font-size: var(--font-size-base);
      }
    }
  }

  .button:hover {
    border-color: var(--primary-color);
  }

  .search-bar {
    flex-grow: 8;
    align-self: stretch;
    border: 4px solid var(--background-secondary-color);
    text-align: start;
    font-size: var(--font-color-normal);
    padding: 4px 8px;
    transition: border-color 0.3s ease;

    &.left {
      justify-content: flex-start;
      border-right: none;
      border-radius: var(--border-radius);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    
    &.right {
      justify-content: flex-end;
      border-left: none;
      border-radius: var(--border-radius);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    
    &.middle {
      justify-content: center;
      border-radius: 0;
      border-left: none;
      border-right: none;
    }
  }

  .search-bar:hover {
    border-color: var(--primary-color);
  }
}

/*#endregion*/

/*#control-panel*/

.control-panel {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
  width: auto;
  padding: 20px;
  border: 8px solid var(--background-secondary-color);
  border-radius: var(--border-radius);
  background-color: var(--background-secondary-color);
  color: var(--font-color-normal);
  animation: slideIn 0.5s ease;
  gap: 20px;

  .panel-column {
    flex: 1 1 calc(25% - 20px);
    margin-right: 0;
    min-width: 250px;
  }
  
  .panel-column:last-child {
    margin-right: 0;
  }
  
  .panel-title {
    text-align: start;
    font-size: var(--font-size-large);
    color: var(--primary-color);
    margin: 0;
    margin-bottom: 16px;
  }
  
  .panel-indent-group {
    max-height: 200px;
    overflow-y: scroll;
    margin-left: 32px;
    scrollbar-color: var(--primary-color) var(--background-color);
  }
  
  .panel-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .panel-checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    border: 4px solid var(--primary-color);
    border-radius: 4px;
    background-color: var(--background-secondary-color);
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .panel-checkbox input[type="checkbox"]:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  
  .panel-checkbox label {
    font-size: var(--font-size-base);
    margin-left: 10px;
    color: var(--font-color-normal);
    transition: color 0.3s ease;
  }
  
  .panel-checkbox label:hover {
    color: var(--primary-color);
  }
}

.control-panel.active {
  display: flex;
}

/*#endregion*/