/* Regular 400 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/font-families/Poppins-Regular.ttf');
}

/* Bold 600 */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/font-families/Poppins-Bold.ttf');
}

/* Italic 400 */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/font-families/Poppins-Italic.ttf');
}

/* Bold Italic 600 */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/font-families/Poppins-BoldItalic.ttf');
}

@font-face {
  font-family: 'Material Symbols Rounded';
  src: url('/assets/fonts/icons/MaterialSymbolsRounded-VariableFont_FILL\,GRAD\,opsz\,wght.ttf');
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 200, 'opsz' 48;
  font-size: 2em;
  margin: 0;
  padding: 0;
  line-height: 0;
  color: var(--primary-color);
}