/* ========== PROJECT SECTION ========== */

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: auto;
  margin: 0;
  box-sizing: border-box;
}

.project-card {
  display: flex;
  flex-direction: column;
  border: 4px solid var(--secondary-bg);
  border-radius: var(--border-radius);
  background-color: var(--secondary-bg);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  animation: slideIn 0.5s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 8px var(--shadow-dark);
  border-color: var(--primary-color);
}

.project-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: var(--border-radius-inner);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  filter: brightness(0.85);
  transition: filter 0.3s ease;
}

.project-card:hover img {
  filter: brightness(1);
}

.project-info {
  display: flex;
  flex-direction: column;
  height: 100%;

  h1 {
    text-align: center;
  }

  h1, h2, h3, h4 {
    text-wrap-mode: nowrap;
    margin: 0;
    padding: 0;
  }

  h4 {
    font-size: var(--font-size-small);
  }

  h3 {
    color: var(--text-base);
  }

  p {
    margin: 0;
    padding: 0;
  }

  .project-info-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
    margin: 20px;

  }

  .metadata-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .metadata {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    text-align: start;
  }
}

@media (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}