/* ========== GLOBAL VARIABLES ========== */
:root {
  /* Colors */
  --primary-color: #ff6f61;
  --background-color: #1e1e2f;
  --secondary-bg: #2a2a40;
  --text-color: #fff;
  --text-muted: #ccc;
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-dark: rgba(0, 0, 0, 0.75);

  /* Typography */
  --font-family: 'Poppins', sans-serif;
  --font-size-small: 0.75em;
  --font-size-base: 1em;
  --font-size-large: 1.15em;
  --font-size-xlarge: 1.5em;
  --font-size-website-title: 1em;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  /* Spacing */
  --padding-main: 20px;
  --border-radius: 20px;
  --border-radius-inner: 10px;
}

/* ========== GENERAL STYLES ========== */

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

.clickable {
  cursor: pointer;
}

.loading-screen {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  .loading-spinner {
    border: 8px solid;
    border-color: var(--primary-color) transparent var(--primary-color) transparent;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 1s ease infinite;
  }
}

/* ========== MAIN CONTENT ========== */

main {
  padding: var(--padding-main);
  width: 100%;
  box-sizing: border-box;
  color: var(--text-muted);

  h1, h2, h3, h4 {
    margin: 0;
    margin-bottom: 20px;
  }

  h1 {
    font-size: var(--font-size-xlarge);
    color: var(--primary-color);
    margin-top: 50px;
  }

  h2 {
    font-size: var(--font-size-large);
    color: var(--text-color);
    margin-top: 30px;
  }

  h3 {
    font-size: var(--font-size-base);
    color: var(--text-muted);
    margin-top: 20px;
  }
}

.tab-content {
  display: none;
  margin: 0;
  animation: slideIn 0.5s ease;
}

.tab-page-content {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  img {
    height: auto;
    width: 100%;
    border-radius: var(--border-radius);
  }

  h1, h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  p {
    margin: 20px;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
    font-size: var(--font-size-base);
  }
}

.tab-content.active {
  display: block;
}

.page-content {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  img {
    height: auto;
    width: 100%;
    border-radius: var(--border-radius);
  }

  h1, h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  p {
    margin: 20px;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
    font-size: var(--font-size-base);
  }
}

.vl {
  border-left: 8px solid var(--primary-color);
  border-radius: 0;
  width: 0;
  height: auto;
}

.hl {
  border-top: 8px solid var(--primary-color);
  border-radius: 0;
  height: 0;
  width: auto;
}

.hl-thin {
  border-top: 2px solid var(--primary-color);
  border-radius: 0;
  height: 0;
  width: auto;
}

/* ========== TEXT & IMAGE SECTION ========== */

.text-image-section {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  flex: 1;
  margin-bottom: 20px;
  gap: 20px;
  position: relative;
  overflow: hidden;
  content: '';

  .text-content {
    flex: 1;
  }

  .image-content {
    flex: 1;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: block;
  }
  
  .image-content img {
    width: 100%;
    height: auto;
    max-height: 500px;
    display: block;
    object-fit: cover;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .image-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 75%, var(--background-color) 100%);
  }
}

.text-image-section.reverse {
  flex-direction: row;
  .image-content::before {
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 75%, var(--background-color) 100%);
  }
  
  img {
    border-radius: var(--border-radius);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.text-image-section .image-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 75%, var(--background-color) 100%);
}

.text-image-section .image-content.in-card::before {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 75%, var(--secondary-bg) 100%);
}

.text-image-section.reverse .image-content::before {
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 75%, var(--background-color) 100%);
}

.text-image-section.reverse .image-content.in-card::before {
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 75%, var(--secondary-bg) 100%);
}

@media (max-width: 1024px) {
  .text-image-section {
    flex-direction: column;
    border-radius: var(--border-radius);

    .image-content {
      border-radius: var(--border-radius);
    }

    .image-content img {
      border-radius: var(--border-radius) !important;
    }

    .image-content::before {
      display: none;
    }
  }

  .text-image-section.reverse {
    flex-direction: column;
    border-radius: var(--border-radius);

    .image-content {
      border-radius: var(--border-radius);
    }

    .image-content img {
      border-radius: var(--border-radius) !important;
    }
  }
}

/* ========== SIDE BY SIDE IMAGES ========== */

.image-image-section {
  display: flex;
  gap: 20px;
  position: relative;
  margin-bottom: 20px;

  .image-content {
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-content img {
    width: 100%;
    height: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
  }
}

/* ========== HIGHTLIGHTED PROJECTS ========== */

.highlights-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.scroll-button {
  border: none;
  font-size: 2em;
  margin: 0 24px;
  padding: 8px;
  font-weight: var(--font-weight-bold);

  color: var(--primary-color);
  border: 8px solid var(--secondary-bg);
  border-radius: var(--border-radius);
  background-color: var(--secondary-bg);
  transition: border-color 0.3s ease;
}

.scroll-button:hover {
  border-color: var(--primary-color);
}

.scroll-button-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.scroll-button-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.highlights-track {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin: 0;
}

/* ========== MEDIA ELEMENTS ========== */

video {
  width: 100%;
  border-radius: var(--border-radius);
  margin: 8px 0;
  background-color: var(--secondary-bg);
  box-shadow: none;
}

.video-player {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
  border-radius: var(--border-radius);
  margin: 8px 0;
  background-color: var(--secondary-bg);
  box-shadow: 0 8px 8px var(--shadow-dark);
}

audio {
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0 8px 8px var(--shadow-dark);
  background-color: var(--secondary-bg);
}

/* ========== FOOTER ========== */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 8px;
  background-color: var(--secondary-bg);
  color: var(--text-color);
  box-shadow: 0 -4px 6px var(--shadow-light);
  z-index: 999;
}

footer p {
  margin: 0;
  font-size: 0.9em;
  color: var(--text-muted);
}

/* ========== LINKS ============ */

.link {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin: 10px;
  padding: 0;
  width: 100%;
  gap: 20px;

  a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
    font-size: var(--font-size-large);
  }

  h2, a {
    margin: 0;
    padding: 0;
  }
}

/* ========== CREDITS ========== */

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  
  .name-row {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
    font-size: var(--font-size-base);
  }

  .title {
    font-size: var(--font-size-xlarge);
    margin: 0;
    margin-top: 50px;
  }

  h1 {
    font-size: var(--font-size-base);
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0;
  }

  h2, a {
    margin: 0;
    padding: 0;
  }

  h3 {
    font-weight: normal;
    font-size: var(--font-size-large);
    margin: 0;
    margin-bottom: 0px;
  }

  p {
    margin: 10px 0;
  }
}

/* ========== CUSTOM SCROLLBAR ========== */

/*
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-bg);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: var(--border-radius);
  border: 2px solid var(--secondary-bg);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}
  */

* {
  scrollbar-width: auto;
  scrollbar-color: var(--primary-color) var(--secondary-bg);
  scroll-behavior: smooth;
}