/* ========== GLOBAL VARIABLES ========== */
:root {
  /* Colors */
  --primary-color: #ff6f61;
  --background-color: #1e1e2f;
  --secondary-bg: #2a2a40;
  --text-color: #fff;
  --text-muted: #ccc;
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-dark: rgba(0, 0, 0, 0.75);

  /* Typography */
  --font-family: 'Poppins', sans-serif;
  --font-size-base: 1rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;
  --font-size-website-title: 1.5rem;
  --font-weight-regular: 500;
  --font-weight-bold: 600;

  /* Spacing */
  --padding-main: 20px;
  --border-radius: 20px;
  --border-radius-inner: 15px;
}

/* ========== GENERAL STYLES ========== */

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

.clickable {
  cursor: pointer;
}

/* ========== HEADER & NAVIGATION ========== */

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--secondary-bg);
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 6px var(--shadow-light);
  z-index: 999;

  h1 {
    margin: 0;
    font-size: var(--font-size-website-title);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
  }

  nav ul {
    list-style: none;
    padding: 0 20px;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 25px;
  }


  li {
    position: relative;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: var(--primary-color);
    transition: width 0.3s ease, left 0.3s ease;
  }
  
  li:hover {
    color: var(--primary-color);
    transform: translateY(-4px);
  }

  li:hover::after {
    width: 15%;
    left: 43.5%;
  }

  li.active {
    color: var(--primary-color);
  }

  li.active::after {
    width: 100%;
    left: 0;
  }

  li.active:hover::after {
    width: 75%;
    left: 12.5%;
  }
}

/* ========== MAIN CONTENT ========== */

main {
  padding: var(--padding-main);
  width: 100%;
  box-sizing: border-box;
  color: var(--text-muted);

  h1 {
    font-size: var(--font-size-xlarge);
    color: var(--primary-color);
  }

  h2 {
    font-size: var(--font-size-large);
    color: var(--text-color);
  }

  h3 {
    font-size: var(--font-size-base);
    color: var(--text-muted);
  }
}

.tab-content {
  display: none;
  margin: 0;
  animation: fadeIn 0.5s ease;
}

.tab-content.active {
  display: block;
}

.page-content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  align-content: center;
}

.vl {
  border-left: 8px solid var(--primary-color);
  border-radius: 0;
  height: auto;
  width: 0;
}

/* ========== Filter Header ========== */

.filter-header {
  display: flex;
  justify-content: space-between;
  width: auto;
  color: var(--primary-color);
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  background-color: var(--secondary-bg);
  animation: fadeIn 0.5s ease;

  span, p, .filter-reset-button{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 4px 8px;
    font-size: var(--font-size-base);
  }

  .filter-icon {
    flex-grow: 9;
    border: 8px solid var(--secondary-bg);
    border-right: none;
    border-radius: var(--border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: border-color 0.3s ease;
  }

  .filter-icon:hover {
    border-color: var(--primary-color);
  }

  .filter-reset-button {
    flex-grow: 1;
    text-align: end;
    border: 8px solid var(--secondary-bg);
    border-left: none;
    border-radius: var(--border-radius);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: border-color 0.3s ease;
  }

  .filter-reset-button:hover {
    border-color: var(--primary-color);
  }
}

/* ========== Filter Dropdown ========== */

.filter-dropdown {
  display: none;
  justify-content: space-between;
  width: auto;
  padding: 20px;
  margin-bottom: 20px;
  border: 8px solid var(--secondary-bg);
  border-radius: var(--border-radius);
  background-color: var(--secondary-bg);
  color: var(--text-color);
  animation: fadeIn 0.5s ease;
}

.filter-dropdown.active {
  display: flex;
}

.filter-column {
  flex: 1;
  margin-right: 20px;
}

.filter-column:last-child {
  margin-right: 0;
}

.filter-title {
  font-size: var(--font-size-large);
  color: var(--primary-color);
  margin: 0;
  margin-bottom: 16px;
}

.filter-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.indented-checkboxes {
  margin-left: 32px;
}

.filter-checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border: 4px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--secondary-bg);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.filter-checkbox input[type="checkbox"]:hover {
  background-color: var(--primary-color);
}

.filter-checkbox input[type="checkbox"]:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.filter-checkbox input[type="checkbox"]:checked:hover {
  background-color: var(--secondary-bg);
}

.filter-checkbox label {
  font-size: var(--font-size-base);
  margin-left: 10px;
  color: var(--text-color);
}

/* ========== PROJECT SECTION ========== */

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: auto;
  margin: 0;
}

.project-card {
  display: flex;
  flex-direction: column;
  border: 8px solid var(--secondary-bg);
  border-radius: var(--border-radius);
  background-color: var(--secondary-bg);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  animation: fadeIn 0.5s ease;

  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
  }

  h4 {
    color: var(--text-color);
  }
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 8px var(--shadow-dark);
  border-color: var(--primary-color);
}

.project-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: var(--border-radius-inner);
  filter: brightness(0.85);
  transition: filter 0.3s ease;
}

.project-meta-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: var(--text-muted);
  margin-bottom: 8px;
}

.project-meta-data h2, .project-meta-data h3, .project-meta-data h4 {
  margin: 0;
  padding: 0 16px;
  flex: 1;
  color: var(--text-color);
  text-align: center;
}

.project-card:hover img {
  filter: brightness(1);
}

.project-info {
  padding: 0px 24px;
}

.project-info p {
  font-size: 1rem;
  color: var(--text-muted);
}

@media (max-width: 1000px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

/* ========== MEDIA ELEMENTS ========== */

video {
  width: 100%;
  border-radius: var(--border-radius);
  margin: 8px 0;
  box-shadow: 0 8px 8px var(--shadow-dark);
  background-color: var(--secondary-bg);
}

audio {
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: 0 8px 8px var(--shadow-dark);
  background-color: var(--secondary-bg);
}

/* ========== FOOTER ========== */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 8px;
  background-color: var(--secondary-bg);
  color: var(--text-color);
  box-shadow: 0 -4px 6px var(--shadow-light);
  z-index: 999;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--text-muted);
}

/* ========== WEBGL ========== */

.webgl-card {
  border-radius: var(--border-radius);
  background-color: var(--secondary-bg);

  h1, h2, h3 {
    margin: 0;
    padding: 0;
  }
}

.webgl-frame {
  max-width: 1024px;
  width: 100%;
  height: 576px;
  border-radius: var(--border-radius-inner);
  border: none;
}

/* ========== P5 ========== */

.p5-card {
  border-radius: var(--border-radius);
  background-color: var(--secondary-bg);

  h1, h2, h3 {
    margin: 0;
    padding: 0;
  }
}

.p5-frame {
  max-width: 1024px;
  width: 100%;
  height: 576px;
  border-radius: var(--border-radius-inner);
  border: none;
}

/* ========== CUSTOM SCROLLBAR ========== */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-bg);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: var(--border-radius);
  border: 2px solid var(--secondary-bg);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}

* {
  scrollbar-width: auto;
  border-radius: var(--border-radius);
  scrollbar-color: var(--primary-color) var(--secondary-bg);
  scroll-behavior: smooth;
}

/* ========== ANIMATIONS ========== */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(32px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes filterDropdownFadeIn {
  from {
    opacity: 0;
    transform: translateY(32px);
    height: 0;
}
to {
    opacity: 1;
    transform: translateY(0);
    height: auto;
}
}