<template id="project-card">
    <div class="project-card clickable no-select">
        <a href="/projects/{{id}}" class="project-link"></a>
        <img src="/assets/projects/{{id}}/images/thumbnail.png" alt="{{title}} Thumbnail" loading="lazy">
        <div class="project-metadata">
            <div class="title-container">
                <div class="title h-scrollable">{{title}}</div>
            </div>
            <div class="project-metadata-grid">
                <div class="row">
                    <div class="cell">
                        <div class="category left h-scrollable">{{category}}</div>
                    </div>
                    <div class="cell">
                        <div class="status right h-scrollable">{{status}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <div class="tag left h-scrollable">{{tag}}</div>
                    </div>
                    <div class="cell">
                        <div class="tool right h-scrollable">{{tool}}</div>
                    </div>
                </div>
            </div>
            <div class="description">{{description}}</div>
            {{timeline}}
        </div>
    </div>
</template>