<!-- project-card-template.html -->
<template id="project-card">
    <div class="project-card clickable no-select">
        <a href="/projects/{{id}}" class="project-link"></a>
        <img src="/assets/projects/{{id}}/images/thumbnail.png" alt="{{title}} Thumbnail" loading="lazy">
        <div class="project-metadata">
            <div class="title-container">
                <div class="title h-scrollable">{{title}}</div>
            </div>
            <div class="project-metadata-container">
                <div class="project-metadata-grid">
                    <div class="category-misc-container">
                        <div class="category">{{category}}</div>
                        <div class="misc">{{misc}}</div>
                    </div>
                    <div class="separator vertical thin"></div>
                    <div class="software-container">
                        <div class="software h-scrollable">{{software}}</div>
                    </div>
                </div>
                <div>{{status}}</div>
                <div class="description">{{description}}</div>

                {{timeline}}
            </div>
        </div>
    </div>
</template>