<!-- project-card-template.html -->
<template id="project-card">
    <a class="project-card clickable" href="/projects/{{pageName}}">
        <img src="{{image}}.png" alt="{{title}} Thumbnail" loading="lazy">
        <div class="project-metadata">
            <div class="title-container">
                <div class="title h-scrollable">{{title}}</div>
            </div>
            <div class="project-metadata-container">
                <div class="project-metadata-grid">
                    <div class="category-misc-container">
                        <div class="category">{{roleCategory}}</div>
                        <div class="misc">{{misc}}</div>
                    </div>
                    <div class="vl-thin"></div>
                    <div class="year">{{year}}</div>
                    <div class="vl-thin"></div>
                    <div class="software-container">
                        <div class="software h-scrollable">{{software}}</div>
                    </div>
                </div>
                <div class="description">{{description}}</div>
            </div>
        </div>
    </a>
</template>