html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.loadingclass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  font-size: 2em;
}

.handsfree-debug {
  width: 400px;
  height: 200px;
}