<!-- project-card-template.html -->
<template id="project-card">
    <div class="project-card clickable" onclick="loadPage('{{pageURL}}', '{{title}}')">
        <img src="{{image}}" alt="{{title}}">
        <div class="project-info">
            <h1>{{title}}</h1>
            <div class="project-meta-data">
                <h3>{{software}}</h3>
                <h2>{{roleCategory}}</h2>
                <h3>{{year}}</h3>
            </div>
            <p>{{description}}</p>
            <h4>{{misc}}</h4>
        </div>
    </div>
</template>