<!-- project-card-template.html -->
<template id="project-card">
    <div class="project-card clickable" onclick="navigate('{{pageName}}')">
        <picture>
            <source srcset="{{image}}.webp" type="image/webp">
            <img src="{{image}}.png" alt="{{title}}" loading="lazy">
        </picture>
        <div class="project-metadata">
            <div class="title">
                <h1 class="h-scrollable">{{title}}</h1>
            </div>
            <div class="project-metadata-container">
                <div class="project-metadata-grid">
                    <div class="category-misc-container">
                        <h2 class="category">{{roleCategory}}</h2>
                        <h4 class="misc">{{misc}}</h4>
                    </div>
                    <div class="vl-thin"></div>
                    <h3 class="year">{{year}}</h3>
                    <div class="vl-thin"></div>
                    <div class="software">
                        <h3 class="h-scrollable">{{software}}</h3>
                    </div>
                </div>
                <p class="description">{{description}}</p>
            </div>
        </div>
    </div>
</template>